body {
  background-color: #d7eaf2;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.currently-weather {
  background: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgb(19, 12, 183) 100%
  );
  max-width: 900px;
  margin: 45px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(95, 60, 177, 0.08);
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

.search-form-input {
  background-color: #d7eaf2;
  border: none;
  border-radius: 6px;
  width: 70%;
  padding: 12px;
  font-size: 16px;
  text-align: left;
}

.search-form-button {
  background-color: #d7eaf2;
  border: none;
  border-radius: 6px;
  width: 15%;
  padding: 12px;
  font-size: 16px;
  color: rgb(11, 11, 66);
  font-weight: 700;
  margin-left: 6px;
  text-align: center;
}
