body {
  background-color: #d7eaf2;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

a {
  color: rgb(11, 11, 66);
}

i {
  color: #ffd700;
  font-size: 38px;
}

header {
  padding: 20 0 20px 0;
  font-size: 28px;
  color: rgb(11, 11, 66);
}

footer {
  border-top: 2px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgb(11, 11, 66);
}

.currently-weather {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  max-width: 900px;
  margin: 45px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(95, 60, 177, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 80%;
}

.weather-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.weather-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #bbd4f0;
}

.weather-app-details {
  font-size: 20px;
  color: #ffd700;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  justify-content: center;
}

.weather-card {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.info-box {
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #bbd4f0;
}

.search-form {
  width: 80%;
}

.weather-app-icon {
  font-size: 140px;
  margin-top: 12px;
}

.weather-app-temperature {
  font-size: 50px;
  margin-left: 10px;
  font-weight: 700;
  color: rgb(11, 11, 66);
}

.search-form-input {
  background-color: #d7eaf2;
  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 12px;
  font-size: 16px;
  text-align: left;
}

.search-form-button {
  background-color: #d7eaf2;
  border: none;
  border-radius: 6px;
  width: 20%;
  padding: 12px;
  font-size: 16px;
  color: rgb(11, 11, 66);
  font-weight: 700;
  margin-left: 6px;
  text-align: center;
}
